<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments::head}"></head>
<body>

<div id="wrap" class="">
    <nav th:replace="~{fragments::navbar}"></nav>
    <div th:replace="~{fragments::banner}"></div>
    <div class="container">

        <div class="row">
            <div class="top-space">
                <div class="page-header">
                    <h1>Envie de nous soutenir ?</h1>
                </div>


                <div class=" col-lg-offset- col-lg-5">
                    <p>
                        <b>Pourquoi nous aider ?</b></br>
                        Aidez nous afin de faire reconnaitre les Tiny Houses en France !.
                        Trop peu connues aujourd'hui, elles représentent une vrai opportunité en matière de logement écologique. En nous soutenant vous apporterez
                        votre pierre à l'édifice afin que notre tiny puisse voir le jour. Que vous soyez une entreprise ou une collectivité,
                        nous soutenir financièrement vous permettra également de bénéficier d'une place particulière dans toutes nos communications.
                        Votre logo sera également présent sur ce site. Pour toute questions n'hésitez pas à nous contacter grâce au formulaire ci-dessous.
                        L'équipe Hindesy

                    </p>

                </div>

                <div class=" col-lg-offset-1 col-lg-5 col-md-4 col-xs-4">
                    <div class="row">

                        <div th:each="Partner : ${PartnersList}" class="col-lg-4 col-xs-12">
                            <figure class=" div-partenaire">

                                <div class="cropImg img-partenaire">
                                    <img  th:src="'picturepartner?id='+${Partner.id}"/>
                                    <div class="img__description">
                                        <figcaption th:text="${Partner.name}"></figcaption>
                                    </div>
                                </div>

                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form">
                <div class="container">
                    <div id="alert" th:if="${Erreur != null}" th:text="${Erreur}"></div>
                    <form class="form-horizontal" method="post"  id="support-us-form">
                        <fieldset>

                            <!-- Form Name -->
                            <legend class="formTitle"><h1>Pour toutes informations de partenariat</h1></legend>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="lastName">Nom</label>
                                <div class="col-md-4">
                                    <input id="lastName" maxlength="25" name="lastName" type="text" placeholder="Entrez votre nom" class="form-control input-md">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="firstName">Prénom</label>
                                <div class="col-md-4">
                                    <input id="firstName" maxlength="25"  name="firstName" type="text" placeholder="Entrez votre prénom" class="form-control input-md">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="organization">Oragnisation</label>
                                <div class="col-md-4">
                                    <input id="organization" maxlength="50"  name="organization" type="text" placeholder="Entrez votre organisation" class="form-control input-md">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="email">Email</label>
                                <div class="col-md-4">
                                    <input id="email" name="email"  maxlength="50" type="text" placeholder="Entrez votre email" class="form-control input-md">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="phone">Téléphone</label>
                                <div class="col-md-4">
                                    <input id="phone" name="phone" type="text" maxlength="10" placeholder="Entrez votre numéro de téléphone" class="form-control input-md">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="message">Votre message</label>
                                <div class="col-md-4">
                                    <textarea rows="5" class="form-control" col="120" id="message" name="message" maxlength="2000" placeholder="Entrez votre message" form="support-us-form"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success btnform">Valider</button>
                        </fieldset>
                    </form>

                </div>
            </div>


        </div>
    </div>
</div>
<div th:replace="~{fragments::footer}"></div>
</body>
</html>