<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{adminfragments::admin-head}"></head>
<body>

<div id="wrap" class="">
    <nav th:replace="~{adminfragments::admin-navbar}"></nav>
    <div th:replace="~{adminfragments::admin-banner}"></div>
    <div class="container">




        <div class="row">
            <div class="col-lg-6">
                <h1 th:text="${newsArticle.getTitleFR()}"></h1>
            </div>
            <div class="edit col-lg-6">

                <a href="/admin/article">
                    <button type="button" class="btn btn-danger">Annuler</button></a>
            </div>
        </div>
        <hr/>
        <form method="post" enctype="multipart/form-data" >
            <input type="hidden" name="idArticle"  th:value="${newsArticle.getId()}" />


            <div class="row">
                <div class="col-lg-6">
                    <label for="titleFR">Titre Français:</label></br>
                    <textarea id="titleFR" name="titleFR" rows="1" cols="80" maxlenght="100">[[${newsArticle.getTitleFR()}]]</textarea></br>
                </div>
                <div class="col-lg-6">
                    <label for="titleEN">Titre Anglais:</label></br>
                    <textarea id="titleEN" name="titleEN" rows="1" cols="80" maxlenght="100">[[${newsArticle.getTitleEN()}]]</textarea></br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <label for="contentFR">Contenu Français:</label></br>
                    <textarea id="contentFR" name="contentFR" rows="25" cols="80" maxlenght="2000">[[${newsArticle.getContentFR()}]]</textarea></br>
                </div>
                <div class="col-lg-6">
                    <label for="contentEN">Contenu Anglais:</label></br>
                    <textarea id="contentEN" name="contentEN" rows="25" cols="80" maxlenght="2000">[[${newsArticle.getContentEN()}]]</textarea></br>

                </div>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <label for="date">Date :</label>
                    <input id="date" type="date" name="date" size="40" maxlength="40" th:value="${newsArticle.getDate()}" ></br>
                </div>

                <div class="col-lg-6">
                    <label for="inputPicture1"> photo 1</label></br>
                    <input id="inputPicture1" type="file" name="inputPicture1" th:value="${newsArticle.getPhoto1()}"></br>
                    <label for="inputPicture2"> photo 2</label></br>
                    <input id="inputPicture2" type="file" name="inputPicture2" th:value="${newsArticle.getPhoto2()}"></br>
                    <label for="inputPicture3"> photo 3</label></br>
                    <input id="inputPicture3" type="file" name="inputPicture3" th:value="${newsArticle.getPhoto3()}"></br>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btnform">Valider</button>
        </form>

        <div>

        </div>



    </div>



</div>

</body>
</html>