<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments::head}"></head>
<body>
<div id="wrap" class="">
    <!-- Fixed navbar -->
    <nav th:replace="~{fragments::navbar}"></nav>
    <div th:replace="~{fragments::banner}"></div>
    <!--everything upside is common to all website-->
    <!-- Begin page content -->

    <div class="container">
        <div class="row">
            <div class="page-header">
                <div class="container top-space">
                    <div class="row"><h1>Merci d'insérer vos identifiants de connexion</h1></div>
                    <div class="row">
                        <div class="panel col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4">
                            <form method="post" role="form">


                                <div class="row">

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="login" type="login" class="form-control" name="login" value=""
                                               placeholder="identifiant">
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="password" type="password" class="form-control" name="password"
                                               value="" placeholder="Mot de passe">
                                    </div>

                                </div>

                                <button type="submit" class="btn btn-success btnform">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</body>

<style>
    body {
        background-color: white;
    }

    .panel {
        border: 1px #00856a solid;
        border-radius: 5px;
        padding: 20px;
    }
</style>
</html>