<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.w3.org/1999/xhtml">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Hindesy</title>

    <!-- Bootstrap core CSS -->

    <link type="text/css" href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="css/main.css" rel="stylesheet">
    <link type="text/css" href="css/costs.css" rel="stylesheet">
    <link type="text/css" href="css/calendar.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js\bootstrap.min.js"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>



<nav th:fragment="navbar" class="intitule-navbar navbar navbar-inverse navbar-static-top " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class=" navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li id="rubriqueActive"><a href="index" class="">ACCUEIL</a>

                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">LE PROJET <b class="caret"></b></a>

                    <ul class="dropdown-menu">
                        <li><a href="who-are-we" class="">Qui sommes-nous ?</a>
                        </li>
                        <li><a href="discover-the-project" class="">Découvrir le projet</a>
                        </li>

                        <li><a href="costs" class="">Les coûts</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">LE CHANTIER <b class="caret"></b></a>

                    <ul class="dropdown-menu">
                        <li><a href="the-construction" class="">La construction</a>
                        </li>
                        <li><a href="construction-evolution" class="">L'evolution du chantier</a>
                        </li>
                        <li><a href="the-place" class="">Le lieu</a>
                        </li>
                        <li><a href="helpers" class="">Ils nous ont aidés</a>
                        </li>
                        </li>
                    </ul>

                <li><a href="rent" class="">LOCATION</a></li>


                <li><a href="articles" class="" contenteditable="false">ACTUALITES</a>

                </li>
                <li><a href="support-us" class="">NOS PARTENAIRES</a>

                </li>
                <li><a href="#contact" class="">PRESSE</a>

                </li>
                <li><a href="#contact" class="">NOUS CONTACTER</a>

                </li>
                <li><a href="#contact" class="">F.A.Q</a>

                </li>

            </ul>


            <!--/.nav-collapse -->
        </div>

    </div>
</nav>



<div th:fragment="banner" class="row">
    <div class="col-lg-12">
        <img src="img/banner.png" alt="baniere" style="width:100%;">
    </div>
</div>

<div th:fragment="footer">

    <!--Footer-->
    <footer class="page-footer font-small blue pt-4 mt-4 myfooter">

        <!--Footer Links-->
        <div class="container-fluid text-center text-md-left">
            <div class="row">

                <!--First column-->
                <div class="col-md-6">
                    <h3 class="text-uppercase">Suivez nous sur nos réseaux sociaux: <a href="#">
                        <i class="fa fa-facebook fa-1x"></i>
                    </a>
                        <a href="#">
                            <i class="fa fa-instagram fa-1x" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-twitter fa-1x" aria-hidden="true"></i>
                        </a></h3>

                </div>
                <div class="col-md-offset-3 col-md-3">
                    <a href="/connexion">
                    <button  class="btn btn-success btnform">Admin</button>
                    </a>
                </div>

            </div>
        </div>
        <!--/.Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright: Gabriel Proust & Hippolyte Toulemonde
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

</div>


</html>